body 
{
    
     
    
}
.sets input
{
    border: 1px solid black;
}
.link
{
    color: Blue;
}
.link:hover
{
    cursor: pointer;
}

.sets
{
    width: 312px;
    
}
#tbnInputs
{
    width: 25px;
}
#tbnInputNeurons
{
    width: 25px;
}

#tbnNeuronsPerHiddenLayer
{
    width: 25px;
}
#tbnHiddenLayers
{
    width: 25px;
}
#tbnOutputs
{
    width: 25px;
}
#tbTarget
{
    
}
#tbEpoch
{
    width: 50px;
}
#status
{
    height:18px;
    
}

#tbTargets
{
    width: 27px;
}

#log
{
   /* margin-left: 0px;
*/
}

#trainingSets input
{
    
width:125px;
margin:5px; 
    
}



/*        */
#wrapper
{
 zoom: 80%;
        
width: 290px;
border:4px groove;

}
#networkConfig
{
 border-style: groove;
    border-color: inherit;
    border-width: 2px;
    float: left;
    width: 290px;
    margin-right: 0px;
}

#imagePane
{
    float: left;
    background-color: #EEEEEE;
    padding: 10px;
    border: 4px groove;
    
}


#imagePaneTitle
{
    display: block;
    text-align: center;
}

#networkResults
{
    
    background-color: #EEEEEE;
    padding:5px; 
    border:2px groove;
    }



#resultsOutput
{
    background-color: #EEEEEE;
    margin-top: 10px;
    }


#nnCanvas
{
    border: 2px groove white;
    width: 50px;
    height: 50px;
    float:right;
}

#nnImg
{
    border: 2px groove white;
    height: 85px;
    width: 220px;
   
}

#taNetImport
{
    
overflow:scroll;    
width: 235px;
    
}


#trainingSets
{ 
    
}

#log
{
background-color: #EEEEEE;
border: 1px solid black;
height: 325px;
overflow: scroll;    


}

#grid
{
    
    overflow:hidden;
    
    }