.sets input
{
    border: 1px solid black;
}
.link
{
    color: Blue;
}
.link:hover
{
    cursor: pointer;
}

.sets
{
    width: 356px;
    height: 145px;
}
#tbnInputs
{
    width: 25px;
}
#tbnInputNeurons
{
    width: 25px;
}

#tbnNeuronsPerHiddenLayer
{
    width: 25px;
}
#tbnHiddenLayers
{
    width: 25px;
}
#tbnOutputs
{
    width: 25px;
}
#tbTarget
{
    width: 180px;
}
#tbEpoch
{
    width: 50px;
}
#status
{
    height:18px;
    
}

#tbTargets
{
    width: 27px;
}

#log
{
    width: 509px;
    margin-left: 0px;
}

#trainingSets
{
    height: 134px;
width:320px;
}

#wrapper
{
    height: 550px;
    
    margin-left: 0px;
}
#networkConfig
{
 border: 2px groove;   
 float: left;
 overflow:scroll;   
}

#imagePane
{
    float: left;
    background-color: #EEEEEE;
    padding: 10px;
    border: 4px groove;
    
}


#imagePaneTitle
{
    display: block;
    text-align: center;
}

#networkResults
{
    
    background-color: #EEEEEE;
    padding:5px; 
    border:2px groove;
    }



#resultsOutput
{
    background-color: #EEEEEE;
    margin-top: 10px;
    float:right;
    }


#nnCanvas
{
    border: 2px groove white;
    width: 50px;
    height: 50px;
float:right;
}

#nnImg
{
    border: 2px groove white;
    height: 85px;
    width: 220px;
    margin-right: 10px;

}
